<div class="container about-top-wrapper">
  <div class="card-body">
    <div class="row">
      <div class=" col-9">
        <div class="about-top-">About</div>
        <div class="about-nagano-cake-text col-12">
        <p>
        <br>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        <br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。<br>
        </p>
        </div>
     </div>
    </div>
  </div>
</div>

