<div class="container about-top-wrapper">
  <div class="card-body">
      <div class=" col-12">
        <div class="about-top">About</div>
        <div class="about-nagano-cake-text col-12">
        <p>
        <br>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、
        <br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。<br>
        </p>
        </div>
     </div>
  </div>
</div>

    <div class="about-image col-9"></div>

    <div class="about-nagano-cake-text-chef col-12">
      <h5>オーナー紹介</h5>
        <p>
        シェフ／パティ・シエさん<br>
        コロンビア出身。DMM大学卒業後にスイーツの本場パリへ。卒業後の2000年にクッキングぱぱ氏に師事。<br>

        数々のスイーツショップでパティシエとして活躍後、2010年に拠点を日本へ移し、2017年に長野県にあるNAGANO　CAKEを設立。<br>
        そのワイルドな見た目からは想像もつかない繊細なスイーツ作りで全国から注文が殺到する程の人気を博しています。
        </p>
     </div>
     
     <div class="about-chef col-9"></div>

