<div class="about-nagano-cake-text">
  <p>
  <br>
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  <br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。<br>
  </p>
</div>

 <%= image_tag('top-img.jpg', style: "width: 200px; height: 30px;") %><br>
