<div class="container homes-top-wrapper">
  <div class="card-body">
  <div class="row">
    <div class="homes-top-image col-9">
      <div class="h-top-text col-12">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>

    <%# 後ほど実装、Each文とリンク %>

<div class="homes-top-under-menu-title">
  <h2>オススメ商品</h2>
</div>
<div class="homes-top-under-menu ">
  <% @products.each do |product| %>
    <div class="homes-top-box">
      <table>
        <thead>
          <tr>
            <td class="homes-top-under-image">

            </td>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td class="homes-name-wrap"><%= product.image.id %></td>
          </tr>
          <tr>
            <td class="homes-name-wrap"><%= product.name %></td>
          </tr>
          <tr>
            <td>￥<%= product.price %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
<div class="col-xs-1 col-xs-offset-8">
    <p class="more"><%= link_to '全ての商品を  >', products_path %></p>
</div>

